<div class='scorecard--details row'>
  <div class='col-4 m-col-12'>
      <div>
        <div class='sc-address'>
          <div class='sc-txt white small light sc-addr'><%= addr1 %></div>
          <div class='sc-txt white small light sc-addr'><%= addr2 %></div>
        </div>
        <div class='sc-txt white small light sc-details-value'><label>Sq Footage:</label> <%= sqft %> <span class='sqft'>ft²</span></div>
        <div class='sc-txt white small light sc-details-value'><label>Type:</label> <%= type %></div>
        <div class='sc-txt white small light sc-details-value'><label>Portfolio Manager ID:</label> <%= pm_pid %></div>
        <div class='sc-txt white small light sc-details-value'><label>Year Built:</label> <%= year_built %></div>
        <% if (ess_logo) { %>
        <div class='sc-txt white small light ess-certified'><img class='ess-logo' src='images/scorecard/energy-star-logo.svg'/><span>This building is ENERGY STAR Certified</span></div>
        <% } %>
      </div>
  </div>
  <div class='col-4 m-col-12 middle'>
    <div class='circle-bk'>
      <h4 class='sc-heading'><%= year %> EUI</h4>
      <% if (value !== null) { %>
        <h3 class='sc-heading orange xlarge number' style="color:<%= valueColor %>;"><%= site_eui %></h3>
      <% } else { %>
        <h3 class='sc-heading xlarge nodata' style="color:<%= valueColor %>;">n/a</h3>
      <% } %>
      <p class='sc-heading orange small' style="color:<%= valueColor %>;">kBtu/ft²</p>
    </div>
  </div>
  <div class='col-4 m-col-12 details-box-wrapper'>
    <div class='details-box'>
      <h4 class='sc-heading white'>Annual Cost of Energy</h4>
      <div class='details-numbers'>
        <h4 class='sc-heading white large'><%= costs.per_sqft %><span class='sc-heading white small'>/ft²</span></h4>
        <h4 class='sc-heading white large'><%= costs.annual %><span class='sc-heading white small'> total</span></h4>
      </div>
      <a class='ways-to-save-button' href='#'>
        See ways to save &gt;
      </a>
    </div>
  </div>
</div>

<div class='scorecard--section scorecard-compare-chart <%= view %>-selected'>
  <div class='inner'>
    <div class='sc-toggle'>
      <div class='sc-toggle-row'>
        <% if (compareEui) { %>
        <!-- Disabled-->
        <label class='cb-plain sc-txt small'><input class="sc-toggle--input" type="checkbox" <%= view === 'eui' ? 'checked' : '' %> data-view='eui'/><span class='cb'><span class='cb-inner'></span></span><span>Energy Use Intensity (EUI)</span></label>
        <% } %>
        <label class='cb-plain sc-txt small'><span>ENERGY STAR Score</span></label>
      </div>
    </div>

    <% if (compareEui) { %>
    <!-- Disabled-->
    <div class='scorecard-compare-section eui'>
      <div class='section-head'>
        <h3 class='sc-heading'>Energy Use Compared to Average</h3>
        <p class='sc-txt small bold'>See how this building measures up against other buildings of the same primary use:</p>
      </div>

      <div class='row'>
        <div class='col-4 compare-desc'>
          <% if(compareEui.isValid) { %>
            <p class='compare-logo <%= compareEui.change_label %> eui'><span><%= compareEui.change_pct %></span></p>
            <p class="sc-txt light pg">This building’s energy use per square foot (EUI) is <span class='change-txt bold <%= compareEui.change_label %> eui'><%= compareEui.change_pct %> <%= compareEui.change_label %></span> than the average <%= type %> in DC.</p>
          <% } else { %>
            <p class='not-available'>
              We don't have an EUI for this building for this year.
            </p>
          <% } %>
        </div>
        <% if(compareEui.isValid) { %>
          <div class='col-8 eui-compare-chart compare-chart'></div>
        <% } %>
      </div>
    </div>
    <% } %>

    <div class='scorecard-compare-section ess screen-only'>
      <div class='section-head'>
        <h3 class='sc-heading'>Energy Star Score Compared to Average</h3>
        <p class='sc-txt small bold'>See how this building measures up against other buildings of the same primary use in <%= firstYear %>, please note this comparison is unrelated to this building's evaluation against the <a class="blue" href="https://dc.beam-portal.org/helpdesk/kb/BEPS/" target="_blank">Building Energy Performance Standards:</a></p>
      </div>

      <div class='row'>
        <div class='col-4 m-col-12 compare-desc'>
          <% if(compareEss.isValid) { %>
            <p class='compare-logo <%= compareEss.change_label %> ess'><span><%= compareEss.change_pct %></span></p>
            <p class="sc-txt light pg">This building’s ENERGY STAR Score is <span class='change-txt bold <%= compareEss.change_label %> ess'><%= compareEss.change_pct %> points <%= compareEss.change_label %></span> than the average <%= type %> in DC. </p>
          <% } else { %>
            <p class='not-available'>
              We don't have an ENERGY STAR score for this building for this year.
            </p>
          <% } %>
        </div>
        <div class='col-8 m-col-12 ess-compare-chart compare-chart'></div>
      </div>
    </div>

  </div>
</div>

<div class='scorecard--section scorecard-compare-chart scorecard-energy-star-print-only print-only'>
  <div class='inner'>
    <div class='scorecard-compare-section ess'>
      <div class='section-head'>
        <h3 class='sc-heading'>Energy Star Score Compared to Average</h3>
        <p class='sc-txt small bold'>See how this building measures up against other buildings of the same primary use in <%= firstYear %>, please note this comparison is unrelated to this building's evaluation against the <a class="blue" href="https://dc.beam-portal.org/helpdesk/kb/BEPS/" target="_blank">Building Energy Performance Standards:</a></p>
      </div>

      <div class='row'>
        <div class='col-4 compare-desc'>
          <% if(compareEss.isValid) { %>
            <p class='compare-logo <%= compareEss.change_label %> ess'><span><%= compareEss.change_pct %></span></p>
            <p class="sc-txt light pg">This building’s ENERGY STAR Score is <span class='change-txt bold <%= compareEss.change_label %> ess'><%= compareEss.change_pct %> points <%= compareEss.change_label %></span> than the average <%= type %> in DC.</p>
          <% } else { %>
            <p class='not-available'>
              We don't have an ENERGY STAR score for this building for this year.
            </p>
          <% } %>
        </div>
        <div class='col-8 ess-compare-chart compare-chart'></div>
      </div>
    </div>
  </div>
</div>

<div id='compare-shift-chart' class='scorecard--section avoid-break'></div>

<div id='fuel-use-chart' class='scorecard--section'></div>
