/*
  .spinner code from http://tobiasahlin.com/spinkit/
*/
#ce-activity-indicator {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  background: rgba(255, 255, 255, 0.4);
  z-index: $zIndexMax;

  .show-activity-indicator & {
    display: block;
  }

  .spinner-alt {
    display: none;
  }

  .activity-indicator-basic & .spinner-alt {
    display: block;
    position: absolute;
    top: 50%;
    width: 100%;
    margin: 0;
    padding: 6px 0;
    background: white;
    background: rgba(255,255,255,0.6);
    color: $spinner-gray;
    text-align: center;
    font-size: 14px;
    line-height: 1;
    transform: translateY(-50%);
  }

  .spinner {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 40px;
    margin: 0;
    text-align: center;
    font-size: 10px;
    transform: translateY(-50%);
  }

  .activity-indicator-basic & .spinner {
    display: none;
  }

  .spinner > div {
    background-color: $spinner-gray;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }

  .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }

  .spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }

  .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }

  .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }

  @-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
  }

  @keyframes sk-stretchdelay {
    0%, 40%, 100% {
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% {
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }
}
