#map {
  a.leaflet-popup-close-button {
    display: none
  }
  .leaflet-popup-content-wrapper {
    box-shadow: none;
    border-radius: 0;
    background-color: $light-gray;
  }
  .leaflet-popup-tip{
    background-color: $light-gray;
  }
}

.leaflet-popup-content .building-info {
  font-family: $base-font-family;
  line-height: 1;
  font-size: 1em;

  li + li {
    padding-top: .5em;
  }

  .building-popup-info {
    &--grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    &--label {
      color: $dark-gray;
    }
  }

  .building-popup-chart {
    min-width: 200px;
    max-width: 300px;
    margin: 20px 0 0 0;

    & > h3 {
      text-transform: uppercase;
      font-size: 1.2em;
      line-height: 1;
      margin: 0 0 5px 0;
    }

    .inner {
      border: 1px solid $base-font-color;
      padding: 10px;
    }

    table {
      margin: 0;
      table-layout: auto;

      td {
        padding: 0;
        border: 0;
      }

      td:first-child {
        width: auto;
        padding-right: 10px;
      }
      td:last-child {
        width: 100%;
      }
    }

    .lead td {
      padding-bottom: 1rem;
      vertical-align: baseline;
    }

    .lead td:first-child {
      font-size: 2.5em;
      font-weight: 500;
      line-height: 1;
    }

    .barchart td {
      vertical-align: bottom;
    }

    .barchart td:first-child {
      font-size: 1.5em;
      font-weight: 500;
    }

    .bar {
      position: relative;
      width: 100%;
      height: 16px;
      border: 1px solid $base-font-color;
    }

    .fill {
      height: 100%;
      background: $base-font-color;
    }

    .barchart--labels {
      overflow: hidden;

      td {
        position: relative;
        padding: 5px 0 0;
      }

      td:first-child {
        white-space: nowrap;
        vertical-align: top;
      }

      .min, .max {
        position: relative;
        top: 0;
        width: 40%;
        float: left;

        span {
          display: inline-block;
          width: 100%;
        }
      }

      .max {
        float: right;
        text-align: right;
      }
    }

    td.nodata {
      font-size: 0.85em !important;

      a {
        color: $base-font-color;
      }
    }
  } // end .building-popup-chart

  button {
    width: 100%;
    margin: 1rem 0 0;
    padding: 0.5em 1em;
    border: 1px solid $orange;
    border-radius: 1em;
    background: $orange;
    color: $base-white;
    font-size: 0.75rem;
    text-transform: uppercase;
  }
}
