#map {
  a.leaflet-popup-close-button {
    display: none
  }
  .leaflet-popup-content-wrapper{
    box-shadow: none;
    border-radius: 0;
    background-color: $light-gray;
  }
  .leaflet-popup-tip{
    background-color: $light-gray;
  }
}

.leaflet-popup-content .building-info{
  line-height: 1;
  li + li {
    padding-top: .5em;
  }
  li:first-child{
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: .3em;
  }
  .show-more-container{
    &.hide {
      li {
        display: none;
      }
    }
    &.show {
      li {
        display: block;
      }
    }
    li:first-child{
      font-size: inherit;
      font-weight: inherit;
      margin-bottom: inherit;
      margin-top: .3em;
    }
  }
  .show-hide-attrs {
    display: inline-block;
    margin: 10px 0px 0px;
    cursor: pointer;
  }
}
