$footer-padding: 0.8em;

#footer {
  background-color: $base-background-color;
  height: $footer-height-sm;
  position: fixed;
  display: block;
  bottom: 0;
  transition: bottom 0.2s ease-in-out;
  width: 100%;
  text-align: center;
  padding: $footer-padding;
  overflow: hidden;

  @include media($medium-screen-up) {
    height: $footer-height-md;
  }

  @include media($xlarge-screen-up) {
    height: $footer-height-lg;
  }

  .footer-row {
    display: block;
    margin: 0;
  }

  .footer-row:first-child {
    text-transform: uppercase;
    font-weight: 500;
  }

  a {
    display: inline-block;
    color: #248C43;
    text-decoration: none;
    vertical-align: middle;
  }

  a + a:before {
    content: '|';
    padding: 0 5px;
  }

  .logo-doee-sm {
    float: left;
    position: relative;
    z-index: 2;

    svg {
      height: $footer-height-sm - ($footer-padding * 2);
      user-select: none;
    }
  }

  .links {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  @include media($medium-screen-up) {
    .logo-doee-sm { display: none; }

  }
}

#footer.nav-up {
  bottom: 0;

  @include media($medium-screen-up) {
    bottom: -$footer-height-md;
  }

  @include media($xlarge-screen-up) {
    bottom: -$footer-height-lg;
  }
}

.modal-active #footer {
  bottom: 0 !important;

  @include media($medium-screen-up) {
    height: $footer-height-md !important;
  }

  @include media($xlarge-screen-up) {
    height: $footer-height-lg !important;
  }
}

// TODO: Come up with a better solution
#buildings {
  margin-bottom: $footer-height-sm;

  @include media($medium-screen-up) {
    margin-bottom: $footer-height-md;
  }

  @include media($xlarge-screen-up) {
    margin-bottom: $footer-height-lg;
  }
}


// 56