$footer-height-sm: 60px;
$footer-height-md: 70px;
$footer-height-lg: 80px;

#footer {
  background-color: $base-background-color;
  height: $footer-height-sm;
  position: fixed;
  display: block;
  bottom: 0;
  transition: bottom 0.2s ease-in-out;
  width: 100%;
  text-align: center;
  padding: 10px;

  @include media($medium-screen-up) {
    height: $footer-height-md;
  }

  @include media($xlarge-screen-up) {
    height: $footer-height-lg;
  }

  .footer-row {
    display: block;
    height: 50%;
    margin: 0;
  }

  .footer-row:first-child {
    text-transform: uppercase;
    font-weight: 500;
  }

  a {
    display: inline-block;
    color: #248C43;
    text-decoration: none;
    vertical-align: middle;
  }

  a + a:before {
    content: '|';
    padding: 0 5px;
  }
}

#footer.nav-up {
  bottom: 0;

  @include media($medium-screen-up) {
    bottom: -$footer-height-md;
  }

  @include media($xlarge-screen-up) {
    bottom: -$footer-height-lg;
  }
}

// TODO: Come up with a better solution
#buildings {
  margin-bottom: $footer-height-sm;

  @include media($medium-screen-up) {
    margin-bottom: $footer-height-md;
  }

  @include media($xlarge-screen-up) {
    margin-bottom: $footer-height-lg;
  }
}


// 56