header {
  h1 {
    position: relative;
    line-height: $header-height / 2;
    font-size: 2em;
    @extend .clearfix;

    span {
      position: absolute;
      left: -999px;
    }

    .header-banner-item,
    .header-logo {
      position: relative;
      display: block;
      top: 0;
      margin: 0;
      padding: 0;
      height: $header-height / 2;
      float: left;
      font-size: 1em;
      text-decoration: none;
      outline: none;
      border: 0;

      img {
        display: block;
        width: auto;
        height: $header-height / 2;
        margin: 0;
        padding: 0;
        border: 0;

      }
    }

    .header-banner-item {
      float: right;
    }

  }
}

header {
  background-color: #f2f2f2;

  h1 {
    text-indent: 1em;
    letter-spacing: 0.1em;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    text-transform: uppercase;
    text-indent: -999px;
  }
}
