html {
  width:100%;
  height: 100%;
}

#debugger {
  display: none;
  position: fixed;
  z-index: 10000000;
  background: white;
  border: 1px solid #000;
  padding: 10px;
  font-size: 12px;
  min-width: 300px;
  min-height: 100px;
}

body {
  background-color: $base-background-color;
  padding: 0;
  margin: 0;
  font-size: 12px;
  width:100%;
  height: 100%;
  -webkit-text-size-adjust:100%;

  @include media($medium-screen-up) {
    font-size: 14px;
  }

  @include media($xlarge-screen-up) {
    font-size: 16px;
  }
}

.main-container {
  position: absolute;
  top: $header-height + $toolbar-height;
  bottom: $footer-height-sm;
  width: 100%;
  @include outer-container(100%);

  @include media($medium-screen-up) {
    bottom: $building-comparison-header-height + $building-comparison-metric-row-height + 1em;
  }

  @include media($xslarge-screen-up) {
    bottom: $building-comparison-header-height + $building-comparison-metric-row-height;
  }

  &.scroll-blocked {
    @include media($medium-screen-up) {
      height: 100vh;
      overflow-y: hidden;
    }
  }
}

header {
  height: $header-height;
  font-size: 1em;
}

.iframed header {
  display: none;
}

.iframed .main-container {
  top: $toolbar-height;
}

#toolbar {
  height: $toolbar-height;
  position: relative;
  z-index: 999999;
}

.iframed #toolbar {
  position: fixed;
  width: 100%;
  z-index: 1000001;
}

#search {
  position: absolute;
  top: 0;
  height: $toolbar-height;
  left: 0;
  width: $nav-col-fixed-width - 1em;
  z-index: 1;

  @include media($medium-screen-up) {
    width: $nav-col-fixed-width;
  }

  @include media($xslarge-screen-up) {
    width: $large-nav-col-fixed-width;
  }

  .address-search {
    width: 100%;
  }
}

#map-category-controls-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: $toolbar-height;

  .map-category-controls--toggle {
    display: none;
    position: absolute;
    top: 50%;
    left: $nav-col-fixed-width;
    transform: translateY(-50%);
    line-height: 0;
  }

  label.map-category-controls--toggle {
    cursor: pointer;
    left: auto;
    right: 6em;
    margin-top: 2px;
  }

  input.map-category-controls--toggle {
    opacity: 0;
    left: -9999px;
  }

  #map-category-toggle-cb:checked ~ #map-category-controls {
    display: block;
  }

  @include media($tiny-screen-up) {
    .map-category-controls--toggle { display: block; }
  }

  @include media($medium-screen-up) {
    left: 0;
  }

  @include media($xslarge-screen-up) {
    left: $large-nav-col-fixed-width;
    .map-category-controls--toggle { display: none; }
  }
}
#map-category-controls {
  display: none;
  position: relative;
  // background-color: rgba($medium-gray, 0.9);
  background-color: $orange;
  width: 100%;
  padding: 0.5em 0;
  top: $toolbar-height;

  .map-category-control + .map-category-control {
    // margin-left: 0;
  }

  .map-category-control {
    display: block;

    @include media($xslarge-screen-up) {
      float: left;
    }
  }

  @include media($medium-screen-up) {
    width: $nav-col-fixed-width;
  }

  @include media($xslarge-screen-up) {
    display: block;
    padding: 0;
    top: 0;
    width: 100%;

    .map-category-control + .map-category-control {
      margin-left: 1em;
    }
  }
}


#year-select{
  position: absolute;
  right: 1em;
  top: 0.5em;
}

// left side
#map-controls {
  position: absolute;
  height: 100%;
  width: $nav-col-fixed-width;
  left: 0;
  z-index: 2;
  transition: left 0.3s linear;

  &.close {
    left: -$nav-col-fixed-width;
  }

  #map-controls--toggle {
    position: absolute;
    top: 0;
    left: 100%;
    background: $orange;
    color: #fff;
    border: 0;
    border-radius: 0;
    margin: 0;
    padding: 0;
    line-height: 1;

    .closed {
      display: none;
      padding: 0 5px;

      span {
        display: inline-block;
        vertical-align: middle;
        text-transform: uppercase;
      }
    }

    svg {
      display: inline-block;
      vertical-align: middle;
      fill: #fff;
    }
  }

  &.close #map-controls--toggle {
    .closed {
      display: block;
    }

    .open {
      display: none;
    }
  }

  .irs {
    height: 21px;
  }

  @include media($medium-screen-up) {
    left: 0 !important;

    #map-controls--toggle {
      display: none;
    }
  }

  @include media($xslarge-screen-up) {
    width: $large-nav-col-fixed-width;
  }
}

// right side
#map-wrapper{
  position: absolute;
  height: 100%;
  right: 0;
  overflow: hidden;
  left: 0;
  z-index: 1;

  @include media($medium-screen-up) {
    left: $nav-col-fixed-width;
  }

  @include media($xslarge-screen-up) {
    left: $large-nav-col-fixed-width;
  }
}

#map {
  height: 100%;
  width: 100%;
}

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
