#mobile-failover{
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $base-background-color, 0.8;
  z-index: $zIndexMax;

  &.forceoff {
    display: none !important;
  }

  @include media($medium-screen-up) {
    display: none;
  }

  .logo {
    display: inline-block;
    position: relative;
    margin: 1em 0;
    height: 46px;

    img {
      width: auto;
      height: 100%;
    }
  }

  .hero {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    padding: 3em;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    transform: translateY(-50%);

    & > div { display: inline-block; }
  }

  #continue-on {
    background: $base-font-color;
    color: white;
    font-size: 0.75rem;
    padding: 4px 8px;
    border: 0;
  }

  label {
    font-size: 0.75rem;
    font-weight: normal;
    margin-top: 0.5em;
  }
}