body.modal-active {
  overflow:hidden;
}

#modals {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - #{$footer-height-sm});
  background: $base-background-color;
  z-index: $zIndexMax + 1;

  @include media($medium-screen-up) {
    height: calc(100% - #{$footer-height-md});
  }

  @include media($xlarge-screen-up) {
    height: calc(100% - #{$footer-height-lg});
  }


  &.active {
    display: block;
  }

  .inner {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 1em;
    border: 1em solid $base-font-color;
    text-align: center;
    overflow: hidden;
    overflow-y: auto;
  }

  a {
    color: $base-font-color;
    font-weight: 500;
    text-decoration: underline;

    &.link-ref {
      display: block;
      margin-top: 0.5rem;
      text-align: left;
    }
  }

  button {
    position: fixed;
    top: 0;
    right: 0;
    height: 42px;
    width: 42px;
    margin-right: 1em;
    margin-top: 1em;
    padding: 0;
    background: transparent;
    border: 0;
    border-radius: 0;

    span {
      font-size: 42px;
      line-height: 42px;
    }
  }

  h3 {
    text-transform: uppercase;
  }

  p {
    margin: 0 0 0.6em;
  }

  .indent {
    margin: 0 1.5rem;
  }

  .list {
    list-style-type: circle;
    margin-bottom: 0.6em;
  }

  table, tbody, tr, td {
    display: block;
  }

  table {
    margin: 0 auto;
    width: 90%;
    height: 100%;
    text-align: left;

    tr + tr {
      margin-top: 1rem;
    }

    td {
      vertical-align: top;
      padding: 0.3em 0 0 0;
      border: 0;

      &:first-child {
        font-weight: bold;
      }
    }
  }

  @include media($medium-screen-up) {
    table {
      display: table;
      width: 80%;
      height: 100%;


      tbody { display: table-row-group; }
      tr { display: table-row; }
      td {
        display: table-cell;
        padding-top: 0.5em;

        &:first-child {
          padding-right: 0.5em;
          text-align: right;
          font-weight: normal;
        }

        &:last-child {
          padding-left: 0.5em;
        }
      }
    }
  }
}