.search-wrapper {
  padding: $base-spacing/4 1em;
  border: 1px solid $base-border-color;
  border-radius: 1em;
  margin: 0.5em 1em;

  .address-search:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .address-search {
    padding: 0 0 0 3px;
    margin: 0;
    border: 0 none;
    display: block;
  }
}


.address-search-results.autocomplete-suggestions {
  top: 135px;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  border-radius: 4px;

  .autocomplete-suggestion {
    line-height: 2;
    color: #666;
    font-size: 0.9em;

    b {
      color: #248C43;
    }
  }


  .autocomplete-suggestion.selected {
      background: #ddd;
  }

  .autocomplete-suggestions-header {
    color: #aaa;
    font-size: 0.9em;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}


