.year-control {

  li {
    position: relative;
    display: inline-block;
  }

  input {
    display: none;
  }

  label {
    &::after {
      height: 0.5em;
      width: 0.5em;
      border-radius: 50%;
      display: block;
      content: " ";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-top: -0.25em;
      margin-left: -0.25em;
    }
  }

  li + li {
    margin-left: 0.75em;
  }
}

.year-control {
  font-weight: 500;
  border-bottom-color: rgba(darken($orange, 15), 0.7);
  text-align: center;

  label {
    @extend %disable-user-select;
  }

  input + label {
    cursor: pointer;
    color: darken($orange, 10);
    opacity: 0.85;

    &::after {
      opacity: 0.6;
      background-color: darken($orange, 15);
    }
  }

  input:checked + label {
    color: white;
    opacity: 1;
    cursor: default;

    &::after {
      opacity: 1;
      background-color: white;
    }
  }
}



#year-select-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: $toolbar-height * 2;
  height: $toolbar-height;
  z-index: 1;

  .year-control-inner {
    display: block;
    position: relative;
    height: 3em;
    text-align: center;
  }

  .yearselect-controls--toggle {
    display: block;
    position: absolute;
    top: 50%;
    left: $nav-col-fixed-width;
    transform: translateY(-50%);
    line-height: 0;
  }

  label.yearselect-controls--toggle {
    position: relative;
    left: 0;
    margin-left: 0;
    margin-bottom: 0;
    cursor: pointer;
    user-select: none;

    svg, span {
      display: inline-block;
      vertical-align: top;
      line-height: 1;
    }

    span {
      vertical-align: bottom;
    }
  }

  input.yearselect-controls--toggle {
    opacity: 0;
    left: -9999px;
  }


  #yearselect-toggle-cb:checked ~ #year-select {
    display: block;

  }

}

#year-select {
  display: none;
  position: absolute;
  top: 3em;

  width: $toolbar-height * 2;
  background-color: $orange;
  right: 0;
}

.year-control {
  border-bottom: 0;

  li {
    display: block;
  }

  li + li {
    margin-left: 0;
  }

  li label:after { display: none; }

  label {
    margin-bottom: 0;
    line-height: 2em;
  }
}


@include media(990px) {
  #year-select-wrapper {
    width: auto;

    .yearselect-controls--toggle { display: none; }
  }

  #year-select {
    position: relative;
    display: block;
    top: 0.5em;
    right: 1em;
    width: auto;
    background: none;
  }

  .year-control {
    margin-top: -.25em;
    border-bottom: 1px solid rgba(20, 79, 38, 0.7);

    li {
      display: inline-block;
    }

    li + li {
      margin-left: 0.75em;
    }

    li label:after { display: block; }

    label {
      margin-bottom: 0;
    }
  }
}