<div class='inner'>
  <div class='section-head'>
    <h3 class='sc-heading'>Fuel Use and Emissions</h3>
  <% if (!isCity) { %>
      <p class='sc-txt small bold'>A building’s climate impact results from the fuels used to power, heat, and cool it.</p>
      <p class='sc-txt small bold' style='margin-top: 10px;'>See how this building’s climate impact compares to buildings of the same primary use:</p>
    <% } else { %>
      <p class='sc-txt small bold'>See the breakdown of different fuel types contributing to citywide GHG emissions:</p>
    <% } %>
  </div>

  <% if (!isCity) { %>
    <div class='emissions-intensity-chart-container row'>
      <div id='emissions-intensity-chart' class='col-8 m-col-12 emissions-intensity-chart'></div>
      <div class='col-4 m-col-12 emissions-intensity-chart-legend'>
        <div class='sc-txt light pg'>This building’s greenhouse gas (GHG) emissions per square foot was <strong><%= total_ghg_emissions_intensity %> KG/SF</strong> in <%= year %> with a total of <strong><%= totals.emissions %> metric tons (MT)</strong> for the year.</div>
        <div class='emissions-intensity-chart-legend-box'>
          <div class='emissions-intensity-chart-legend-label'>legend</div>
          <div class='emissions-dots'>
            <div class='emissions-dots-title'>total emissions</div>
          </div>
        </div>
      </div>
    </div>
  <% } %>

  <div id='fueluse-chart' class='row'>
    <% if (fuels.length === 0) { %>
      <p class='col-4 nodata'>
        We don't have enough data to show fuel use for this building.
      </p>
    <% } else { %>
      <div class='col-8 m-col-12'>
        <div class='row fc-labels fc-panel'>
          <div class='energy-consumption-bar-chart-container bar-chart-container'></div>
        </div>
      </div>
      <div class='col-4 m-col-12'>
        <% if (fuels.length >= 1) { %>
        <div class='fc-row notes'>
          <% if(totals.emissions > 0) { %>
          <p class="sc-txt light pg">
            <strong><%= totals.emissions %> MT CO<sub>2</sub>E</strong> is the equivalent of <strong><%= cars %> passenger vehicles driven</strong> for one year.
          </p>
          <p class="sc-txt light pg">
            Of these passenger vehicles
            <% _.each(fuels, function(fuel, i) { %>
            <%= fuel.emissions.cars %> are attributable to <%= fuel.label.toLowerCase() %><% if (i <= fuels.length - 2) { %>, <% } else if (i === fuels.length - 1) { %>. <% } %>
            <% if (i === fuels.length - 2) { %>
            and
            <% } %>
            <% }); %>
          </p>
          <% } %>
        </div>
        <% } %>
      </div>
    <% } %>
  </div>
</div>
