<div class="landing-main-container">
    <div class="landing-main-container--description">
        <p>
            <span>Please note that at this time the Building Performance DC Map has not been updated since December 2021. DOEE is working to update this map 
            as soon as possible. For the most accurate up-to-date benchmarking data please see <a href="https://opendata.dc.gov/datasets/building-energy-benchmarking/explore?location=38.890699%2C-77.021832%2C12.00"
                                                                                                  target="_blank">DC's Open Data Platform</a></span>
        </p>
        <p>
            <span>Energy benchmarking</span> means tracking a building's energy and water use and using a standard metric to compare the building's
            performance against past performance and to its peers nationwide.
            These companions have been shown to drive energy efficiency upgrades and increase occupancy rates and property values.
        </p>
        <p>
            <a href="https://doee.dc.gov/node/7862" target="_blank">The Clean and Affordable Energy Act of 2008 (CAEA)</a>
            requires that owners of all large private buildings
            (over 50,000 gross square feet) annually benchmark their energy and water efficiency and report the results
            to DOEE for public disclosure. The District government also must annually benchmark and disclose the energy
            and water efficiency of District government buildings over 10,000 gross square feet. Starting with the calendar
            year 2021 data (due April 1, 2022) all privately-owned buildings over 25,000 square feet will be required
            to benchmark, and starting with the calendar year 2024 data (due April 1, 2025) all privately-owned
            buildings over 10,000 square feet will be required to benchmark, as mandated under the
            <a href="https://code.dccouncil.us/dc/council/laws/22-257.html" target="_blank">Clean Energy
                DC Omnibus Act of 2018</a>.
        </p>

    </div>
    <div class="landing-main-container--cards"></div>
    <div class="landing-main-container--chart-block">
        <div class="chart-block--histogram" id="landing-histogram"></div>
    </div>
    <button class="landing-main-container--button" id="navigate-further">Continue to Site</button>
</div>
<div class="landing-footer-container">
    <%= footer %>
</div>
