<div class='compare-closer'></div>
<div class='comparables-wrapper'>
  <table class='comparables'>
    <tr>
    <% _.each(compares, function(c){ %>
      <% if (c && c.name) { %>
        <td>
          <% if (c.disabled) { %>
          <div class='disable'>
            <span class='name'><%= c.name %></span><button class='close' data-id="<%= c.id %>">&times;</button>
          </div>
          <% } else { %>
          <div>
            <span class='name' data-btnid="<%= c.id %>"><%= c.name %></span><button class='close' data-id="<%= c.id %>">&times;</button>
          </div>
          <% } %>
        </td>
      <% } else { %>
        <td class='empty'><div></div></td>
      <% } %>
    <% }) %>
    </tr>
  </table>
</div>
<button class='toggle'>
  <span class='toggle-text'>Building Comparison</span> 
  <span class='toggle-close'>&times;</span>
</button>
