<div class="links">
  <div class="footer-row">
    <a href="https://dc.beam-portal.org/helpdesk/kb/" target="_blank" title="About Building Performance Programs">About DOEE Building Performance Programs</a>
  </div>
  <div class="footer-row">
    <a href="#" class="modal-link" data-modal="faq">FAQ</a>
    <a href="#" class="modal-link" data-modal="glossary">Glossary</a>
    <a href="https://opendata.dc.gov/datasets/building-energy-benchmarking/explore" target="_blank">Download Data</a>
  </div>
</div>
