<div class="landing-main-container">
    <p class="landing-main-container--description">
        <span>Energy benchmarking</span> means tracking a building's energy and water use and using a standard metric to compare the building's
        performance against past performance and to its peers nationwide.
        These companions have been shown to drive energy efficiency upgrades and increase occupancy rates and property values.
    </p>
    <div class="landing-main-container--cards"></div>
    <div class="landing-main-container--chart-block">
        <div class="chart-block--histogram" id="landing-histogram"></div>
    </div>
    <button class="landing-main-container--button" id="navigate-further">Continue to Site</button>
</div>
<div class="landing-footer-container">
    <%= footer %>
</div>